<p>
  {{link-to "Individual list" "individuals.index" }}
</p>

<h1>Individual show</h1>

<p>
  <strong>Org:</strong>
  <span>{{model.org}}</span>
</p>

<p>
  <strong>Hourlyrate:</strong>
  <span>{{model.hourlyRate}}</span>
</p>

<p>
  <strong>Locations:</strong>
  <span>{{model.locations}}</span>
</p>

<p>
  <strong>Causes:</strong>
  <span>{{model.causes}}</span>
</p>

<p>
  <strong>Contributions:</strong>
  <span>{{model.contributions}}</span>
</p>

<p>
  <strong>Industries:</strong>
  <span>{{model.industries}}</span>
</p>

<p>
  <strong>Receivedcontributions:</strong>
  <span>{{model.receivedContributions}}</span>
</p>

<p>
  <strong>Skills:</strong>
  <span>{{model.skills}}</span>
</p>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

