<form {{action "save" on="submit"}}>
  <div>
    <label>
      Type
      {{input type="text" value=model.type}}
    </label>
  </div>
  <div>
    <label>
      String
      {{input type="text" value=model.string}}
    </label>
  </div>
  <div>
    <label>
      Starttime
      {{input type="text" value=model.startTime}}
    </label>
  </div>
  <div>
    <label>
      Endtime
      {{input type="text" value=model.endTime}}
    </label>
  </div>
  <div>
    <label>
      Location
      {{input type="text" value=model.location}}
    </label>
  </div>
  <div>
    <label>
      Organizer
      {{input type="text" value=model.organizer}}
    </label>
  </div>
  <div>
    <label>
      Causes
      {{input type="text" value=model.causes}}
    </label>
  </div>
  <div>
    <label>
      Contributors
      {{input type="text" value=model.contributors}}
    </label>
  </div>
  <div>
    <label>
      Beneficiary
      {{input type="text" value=model.beneficiary}}
    </label>
  </div>
  <div>
    <label>
      Eventimagesrc
      {{input type="text" value=model.eventImageSrc}}
    </label>
  </div>
  <div>
    <label>
      Description
      {{input type="text" value=model.description}}
    </label>
  </div>
  <div>
    <label>
      Name
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <label>
      Expectedvolunteers
      {{input type="text" value=model.expectedVolunteers}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
