<p>
  {{link-to "Event list" "events.index" }}
</p>

<h1>Event show</h1>

<p>
  <strong>Type:</strong>
  <span>{{model.type}}</span>
</p>

<p>
  <strong>Starttime:</strong>
  <span>{{model.startTime}}</span>
</p>

<p>
  <strong>Endtime:</strong>
  <span>{{model.endTime}}</span>
</p>

<p>
  <strong>Location:</strong>
  <span>{{model.location}}</span>
</p>

<p>
  <strong>Organizer:</strong>
  <span>{{model.organizer}}</span>
</p>

<p>
  <strong>Causes:</strong>
  <span>{{model.causes}}</span>
</p>

<p>
  <strong>Contributors:</strong>
  <span>{{model.contributors}}</span>
</p>

<p>
  <strong>Beneficiary:</strong>
  <span>{{model.beneficiary}}</span>
</p>

<p>
  <strong>Eventimagesrc:</strong>
  <span>{{model.eventImageSrc}}</span>
</p>

<p>
  <strong>Description:</strong>
  <span>{{model.description}}</span>
</p>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Expectedvolunteers:</strong>
  <span>{{model.expectedVolunteers}}</span>
</p>

