<p>
  {{link-to "Org list" "orgs.index" }}
</p>

<h1>Org show</h1>

<p>
  <strong>Type:</strong>
  <span>{{model.type}}</span>
</p>

<p>
  <strong>Members:</strong>
  <span>{{model.members}}</span>
</p>

<p>
  <strong>Partners:</strong>
  <span>{{model.partners}}</span>
</p>

<p>
  <strong>Locations:</strong>
  <span>{{model.locations}}</span>
</p>

<p>
  <strong>Causes:</strong>
  <span>{{model.causes}}</span>
</p>

<p>
  <strong>Contributions:</strong>
  <span>{{model.contributions}}</span>
</p>

<p>
  <strong>Industries:</strong>
  <span>{{model.industries}}</span>
</p>

<p>
  <strong>Receivedcontributions:</strong>
  <span>{{model.receivedContributions}}</span>
</p>

<p>
  <strong>Skills:</strong>
  <span>{{model.skills}}</span>
</p>

<p>
  <strong>Name:</strong>
  <span>{{model.name}}</span>
</p>

<p>
  <strong>Email:</strong>
  <span>{{model.email}}</span>
</p>

