<form {{action "save" on="submit"}}>
  <div>
    <label>
      Locations
      {{input type="text" value=model.locations}}
    </label>
  </div>
  <div>
    <label>
      Causes
      {{input type="text" value=model.causes}}
    </label>
  </div>
  <div>
    <label>
      Contributions
      {{input type="text" value=model.contributions}}
    </label>
  </div>
  <div>
    <label>
      Industries
      {{input type="text" value=model.industries}}
    </label>
  </div>
  <div>
    <label>
      Receivedcontributions
      {{input type="text" value=model.receivedContributions}}
    </label>
  </div>
  <div>
    <label>
      Skills
      {{input type="text" value=model.skills}}
    </label>
  </div>
  <div>
    <label>
      Name
      {{input type="text" value=model.name}}
    </label>
  </div>
  <div>
    <label>
      Email
      {{input type="text" value=model.email}}
    </label>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
