<p>
  {{link-to "Contribution list" "contributions.index" }}
</p>

<h1>Contribution show</h1>

<p>
  <strong>Type:</strong>
  <span>{{model.type}}</span>
</p>

<p>
  <strong>Contributor:</strong>
  <span>{{model.contributor}}</span>
</p>

<p>
  <strong>Causes:</strong>
  <span>{{model.causes}}</span>
</p>

<p>
  <strong>Event:</strong>
  <span>{{model.event}}</span>
</p>

<p>
  <strong>Donationamount:</strong>
  <span>{{model.donationAmount}}</span>
</p>

<p>
  <strong>Hours:</strong>
  <span>{{model.hours}}</span>
</p>

<p>
  <strong>Skilled:</strong>
  <span>{{model.skilled}}</span>
</p>

